html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	}
/* remember to define focus styles! */

:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
    position:relative;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}
body{
    padding:5%;
    margin:5%;
}
header .orange{
    color:white;
    background:#FF764E;
    width:20px;
    margin:20px;
    padding:5%;
    border-radius:10%;
    left:10%
    
}
header .blue{
    color:white;
    background:#5ED3EB;
    width:20px;
    margin:20px;
    padding:5%;
    border-radius:10%;
    left:50%
}
header .yellow{
    color:white;
    background:#FFCD69;
    width:20px; 
    margin:20px;
    padding:5%;
    border-radius:10%;
    left:80%
}
.left img{
    width:20%;
    height:20%;
    padding:5%;
    border-radius:50%;
}
h1{
    font-size:48px;
    margin:5%;
    padding:5%;
    position:absolute;
    top:5%;
    left:20%;
}
h2{
    font-size:18px;
    margin:5%;
    width:40%;
    padding:5%;
    position:absolute;
    top:11%;
    left:27%;

}
.text p{
    font-size:18px;
    margin:5%;
    width:20%;
    padding:5%;
    position:absolute;
    top:15%;
    left:30%; 
    text-align:center;   
}
.info{
    background-color:#DDB9A3;
}

.info p{
    color:white;
    font-size:18px;
    margin:5%;
    width:85%;
    padding:5%;
    text-align:center;
    
}
.fire img{
    width:10%;
    height:10%;
    margin:5%;
    padding:5%;
    position:absolute;
    top:65%;
    left:35%;
    
}
.fire p{
    font-size:12px;
    margin:5%;
    width:20%;
    padding:5%;
    position:absolute;
    top:75%;
    left:30%;
    text-align:center;
}
.reservations img{
    margin:5%;
    padding:5%;
    width:10%;
    height:10%;
    position:absolute;
    top:85%;
    left:35%;
    
    
}
.reservations p{
    font-size:12px;
    margin:5%;
    width:20%;
    padding:5%;
    position:absolute;
    top:97%;
    left:30%;
    text-align:center;
}

.footer img{
    height:30px;
    width:80px;
}
footer .nav{
    background-color:`#F9E7DC`;
    margin:1%
    border:1%
    top:98%;
}
footer .orange{
    color:white;
    background:#FF764E;
    width:20px;
    margin:20px;
    padding:5%;
    border-radius:10%;
    top:95%;
    
}
footer .blue{
    color:white;
    background:#5ED3EB;
    width:20px;
    margin:20px;
    padding:5%;
    border-radius:10%;
   top:95%;
}
footer .yellow{
    color:white;
    background:#FFCD69;
    width:20px; 
    margin:20px;
    padding:5%;
    border-radius:10%;
    top:95%;
}